<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/style.css">
    <title>Document</title>
</head>
<body>
    <header class="cabezera">
        <button class="botonUno">LETRA INICAL B</button>
        <button class="botonDos">MAS DE 5 AÑOS</button>
        <button class="botonTres">TIPO AVE Y MAS DE 10 AÑOS</button>
        <button class="botonCuatro">ANIMALES MAMIFEROS Y NEGROS</button>
        <button class="botonCinco">NO BLANCOS</button>
    </header>
    <main class="cuerpo">
        <template class="template-tarje">
            <div class="tarjeta">
                <h1 class="nombre"></h1>
                <p class="tipo"></p>
                <p class="edad"></p>
                <p class="color"></p>
            </div>
        </template>
    </main>
    <footer></footer>
    <script src="../controllers/controlador.js" type="module"></script>
    <script src="../models/procesos.js" type="module"></script>
    <script src="index.js" type="module"></script>
</body>
</html>